body {
    background: #f3f3f3;
}

.carousel {
    padding: 4rem 0;
}

.carousel-item img {
    display: inline-block !important;
    margin-left: 5rem;
}

.active > a {
    color: #4aa2d1;
}

footer {
    background-color: #262b2f;
    color: #ececec;
}

/* Form styling */
main {
    margin: 5rem 0;
}

.header {
    margin: 3rem 0 3.5rem 0;
}

a[href^="tel:"],
a[href^="mailto:"] {
    color: black;
    text-decoration: none;
}
.fa-globe-americas {
    color: blue;
}
.fa-fax {
    color: rgb(49, 46, 46);
}
.fa-envelope.orange {
    color: tomato;
}

.fixed-bottom {
    left: unset;
    width: 15%;
}

/* Porfofolio card zoom effect */
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.zoom-img {
    display: block;
    position: relative;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s linear;
}

.hovereffect a.card-info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 100px 0 0;
    padding: 7px 14px;
}

.hovereffect a.card-info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect:hover .card-overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.hovereffect:hover .card-info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.hovereffect:hover .card-info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}/* END of Porfofolio card zoom effect */
